body {
  background-color: #ecf0f1;
}


table {
  border-collapse: collapse;
  width: 600px;
  font-size: 25px;
  text-align: center;
  margin: 0px auto;
}

table, th, td {
  border: 1px solid black;
}

td {
  background-color: white;
}

section {
  padding-top: 20px;
  margin: 0 auto;
  width: 250px;
  text-align: center;
}

h2{
  text-align: center;
}

#textID {
  width: 100px;
  margin: 0px auto;
}
